<a href="https://colab.research.google.com/github/Mintu-Vipin/COMP229-F2020-MidTerm-301135483/blob/master/MintuVipinJoy_COMP258Lab1_Ex2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Mintu Vipin Joy(301135483) **

In [ ]:
# Load hepatitis data

columns = ['Class','AGE','SEX','STEROID','ANTIVIRALS','FATIGUE','MALAISE','ANOREXIA','LIVER BIG', 'LIVER FIRM', 'SPLEEN PALPABLE','SPIDERS','ASCITES','VARICES','BILIRUBIN','ALK PHOSPHATE', 'SGOT','ALBUMIN','PROTIME','HISTOLOGY']
hepatitis_data = pd.read_csv('hepatitis.data', names= columns)

In [ ]:
hepatitis_data =

In [ ]:
import pandas as pd
import io 
df = pd. read_csv(io.StringIO(uploaded['hepatitis.csv'].decode('utf-8')), sep = ';')
df

       2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
0     2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1      2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2     2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3      2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4     2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
..                                                 ...
149   1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
150  2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
151    2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
152   2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2
153  1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

[154 rows x 1 columns]